.registerContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../resource/images/background_auth.avif);
    background-position: center;
    background-repeat: none;
    background-size: cover;
}

.sectionRegister {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* height: 100%; */
    max-width: 420px;
    /* min-height: 400px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background-color: #ffffffcc;
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    border-radius: 10px;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.formRegister {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

.aTagRegister,
.aTagRegister:visited {
    color: #fff;
}

input[type='text'],
input[type='password'],
input[type='email'],
input[type='tel'],
input[type='date'],
.inputGenderRegister,
.btnRegister,
textarea {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    padding: 1rem;
    border: 0.3px solid darkgrey;
    border-radius: 10px;
    color: dimgray;
}

label,
.btnRegister {
    margin-top: 1rem;
}

.btnRegister {
    padding: 0.5rem;
}

.btnRegister:hover {
    opacity: 0.8;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}
